<form action="/articles" method="post">
  <p><label for="name">Article Name:</label>
  <input type="text" name="name" id="name"></p>
  <p><label for="content">Article Content:</label>
  <input type="text" name="content" id="content"></p>
  <input type="submit" name="submit" value="submit">
</form>
